canvas{
    border: 2px solid black;
    border-radius: 5px;
}
#dessin{
    display: flex;
    justify-content: center;
}
#palette div, #outils div{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0px 0px 2px 2px;
    touch-action: manipulation;
}
#palette div img, #outils div img{
    width: 60%;
}
#pack-outils{
    display: flex;
}
#choix-outils, #choix-taille, #choix-couleur{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}
.slider{
    -webkit-appearance: none;  
    position: relative;
    appearance: none;
    height: 20px;
    background: #d3d3d300;
    outline: none;
    -webkit-transition: .2s; 
    transition: .2s;
    width: 90%;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 5px;
}
.slider-groupe{
    width: 95%;
    display: flex;
    flex-direction: row;
}
.slider-groupe span{
    display: inline-block;
    margin: 8px 4px 0 4px;
}
#slider-pinceau{
    display: inline-block;
    margin-top: 5px;
}
.slider:hover{
    border: 2px solid rgb(11, 13, 150);
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media(max-width:768px){
    #dessin{
        flex-direction: column;
    }
    #palette, #outils{
        display: flex;
        flex-direction: row;
    }
    #palette div, #outils div{
        width: 50px;
        height: 50px;
    }
    #pack-outils{
        display: block;
    }
}